/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0px 45px 20px;
}

/* Write all remaining styles here */
img	{
	border-width: 5px;
	border-style: solid;
}

h1 {
	font-size: 5em;
	font-family: Baskerville;
	padding: 0 0 10px 0;
	margin: 0 0 5px;
	border-bottom: 1px solid #ccc;
}

h1 a {
	text-decoration: none;
	color: rgb(153,173,166);
}

h1 a:hover {
	color: rgb(112,127,122);
}

#featured img {
	color: rgb(153,173,166);
}

h2 {
	font-size: 2em;
	color: rgb(112,127,122);
}

p {
	font-size: 1em;
	color: rgb(90, 90, 90);
}

p a {
	color: rgb(33,132,185);
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	color: rgb(204, 204, 204);
}

#press img:hover {
	color: rgb(112,127,122);
}

#press img {
	padding: 1px;
	/*margin: -2px;*/
}

footer {
	text-align: right;
	font-size: 0.8em;
}
